#character-general img{
  width:3.5em;
  border:.3em dashed transparent;
  transition:border .5s ease-in-out;
  transition:background-color .5s ease-in-out;
  cursor:pointer;
  background-color:transparent;
}

#character-general input{
  width:20em;
}

#character-general img.selected{
  border-color:#edc207 !important;
}

#character-general img:hover:not(.selected){
  background-color:gray;
}

#character-general .details-title{
  margin-bottom:1em;
}

#character-general div{
  margin-bottom:.75em;
}
