#console{
  position:absolute;
  width:100%;
  background:black;
  height:15%;
  border-bottom:1px solid gray;
  overflow-y:auto;
}
#console #console-constraint{width:95%;}
#console span{
  margin-top:.25em;
  margin-right:.5em;
  display:inline-block;
}
#cyberspace-lower{
  position:absolute;
  top:15%;
  height:85%;
  width:100%;
}
#cyberspace-container{
  top:2%;
  left:10%;
  position:absolute;
  height:98%;
  width:93%;
  overflow-x:auto;
  overflow-y:auto;
  display:hidden;
}
#cyberspace{
  position:absolute;
  margin-left:1.5em;
  margin-top:1em;
}
#cyberspace .spacer{
  position:absolute;
  height:4em;
  width:6em;
  background:white;
  visibility:hidden;
}
#cyberspace .tile{
  position:absolute;
  color:white;
  background:black;
  background-repeat:no-repeat;
  background-size:100%;
  transition:border 3s ease-out;
  transition:opacity 1s ease-in-out;
  opacity:0;
  overflow:hidden;
}
#cyberspace .discovered{opacity:1;}
@keyframes fadein {
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes fadeout {
    from{opacity:1;}
    to{opacity:0;}
}
#cyberspace .tile img{
  width:100%;
  opacity:1;
  animation:fadein 2000ms;
  transition:opacity 2s;
}
@keyframes target{50%{background:rgb(255,32,32);}}
#cyberspace .target{
  border-style:solid!important;
  z-index:1;
  animation:target 3000ms infinite;
}
#cyberspace div.node{border:0.1em dashed gray;}
#cyberspace div.interface{border:0.1em dashed orange;}
#cyberspace div.datastore{border:0.1em dashed blue;}
#cyberspace div.cpu{border:0.1em dashed yellow;}
#cyberspace div.portal{border:0.1em dashed purple;}
