#console{
  position:absolute;
  width:100%;
  background:black;
  height:20%;
  border-bottom:1px solid gray;
  overflow:auto;
}
#console div{
  padding:.25em;
}
#cyberspace-lower{
  position:absolute;
  top:20%;
  width:100%;
  height:80%;
}
#cyberspace-container{
  top:2%;
  left:7%;
  position:absolute;
  height:98%;
  width:93%;
  overflow:auto;
  display:hidden;
}
#cyberspace{
  position:absolute;
  margin-left:1.5em;
  margin-top:1em;
}
#cyberspace .spacer{
  position:absolute;
  height:4em;
  width:4em;
  background:white;
  visibility:hidden;
}
#cyberspace .tile{
  border:none;
  position:absolute;
  color:white;
  background:black;
  background-repeat:no-repeat;
  background-size:100%;
  transition:border 3s ease-out;
  transition:opacity 1s ease-in-out;
  opacity:0;
  overflow:hidden;
}
#cyberspace .discovered{opacity:1;}
#cyberspace .visited{border:0.1em dashed gray;}
@keyframes fadein {
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes fadeout {
    from{opacity:1;}
    to{opacity:0;}
}
#cyberspace .tile img{
  width:100%;
  opacity:1;
  animation:fadein 2000ms;
  transition:opacity 2s;
}
#cyberspace .target{
  border:.1em dashed yellow;
  z-index:1;
}
